<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Incentive Scheme</h2>
      <div class="col-md-11" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Incentive Scheme Info</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="row" style="margin: auto;">
                <div class="col-md-3">
                    <div class="form-group row">
                      <label class="col-md-5">Company</label>
                      <div class="col-md-7">
                        <select class="form-control" >
                          <option selected>--Select Company--</option>
                          <option >Company-1</option>
                          <option >Company-2</option>
                          <option >Company-3</option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group row">
                    <label class="col-md-5">Capacity Source </label>
                    <div class="col-md-7">
                      <select class="form-control" >
                        <option selected>--Select Location--</option>
                        <option >Location-1</option>
                        <option >Location-2</option>
                        <option >Location-3</option>
                      </select>
                    </div>
                  </div>
                  </div>
                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-md-4">Department</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>--Select Department--</option>
                        <option >Department-1</option>
                        <option >Department-2</option>
                        <option >Department-3</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-md-4">Section</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>--Select Section--</option>
                        <option >Section-1</option>
                        <option >Section-2</option>
                        <option >Section-3</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-md-4">Designation</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>--Select Designation--</option>
                        <option >Designation-1</option>
                        <option >Designation-2</option>
                        <option >Designation-3</option>
                      </select>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="row mt-5 col-md-6" style="margin: auto;">
            <div class="card p-0 m-0">
              <div class="card-body   p-0 m-0">
                <div class="data-table m-0 p-0 mb-0 " >
                  <table class="tblList " >
                    <thead>
                      <tr>
                        <th>Lower Limit(%)</th>
                        <th>Uper Limit(%)</th>
                        <th>Taka/Day</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                       <td><input class="form-control"></td>
                       <td><input class="form-control"></td>
                       <td><input class="form-control"></td>
                       <td><button class="btn btm-sm btn-primary mx-1">+</button>
                        <button class="btn btm-sm btn-primary mx-1">-</button>
                      </td>


                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


        </div>
        <hr>
        <div class="row">
          <div class="col-md-4" style="margin: auto;">
            <button class="btn btn-primary mx-1">Save</button>
            <button class="btn btn-primary mx-1">Update</button>
            <button class="btn btn-primary mx-1">Delete</button>
            <button class="btn btn-primary mx-1">Refresh</button>
          </div>
        </div>
        <hr>
      </div>
  </div>
</div>
