<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Trim Costing Template </h2>
      <div class="col-md-8" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Trim Costing Template</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="row" style="margin: auto;">
                <div class="col-md-5">
                    <div class="form-group row">
                      <label class="col-md-4">Related Buyer</label>
                      <div class="col-md-8">
                       <input class="form-control" placeholder="Select Multiple Item">
                      </div>
                    </div>
                </div>
                <label class="col-md-2"></label>
                <div class="col-md-5">
                  <div class="form-group row">
                    <label class="col-md-4">Status</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>Active </option>
                        <option >Inactive</option>
                      </select>
                    </div>
                  </div>
                </div>
                </div>
                <div class="row" >
                    <div class="col-md-10" style="margin: auto;">
                    <div class="data-table p-0 m-0 mb-0" >
                      <table class="table " >
                        <thead>
                          <tr>
                            <th>User Code</th>
                            <th>Trims Group</th>
                            <th>Cons.UOM</th>
                            <th>Cons/Dzn Gmts</th>
                            <th>Purchase Rate</th>
                            <th>Amount</th>
                            <th>Approval Required</th>
                            <th>Supplier</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><input class="form-control"></td>
                            <td><select class="form-control">
                              <option selected>--Select--</option>
                              <option > Trims-1</option>
                              <option > Trims-2</option>
                              <option > Trims-3</option>
                            </select></td>      <td><select class="form-control">
                              <option selected>Pcs</option>
                              <option > Dzn</option>
                              <option >Kg</option>
                              <option >Ton</option>
                            </select></td>
                            <td><input class="form-control" ></td>
                            <td><input class="form-control" ></td>
                            <td><input class="form-control" ></td>
                            <td><select class="form-control">
                              <option selected>Yes</option>
                              <option >No</option>
                            </select></td>
                            <td><select class="form-control">
                              <option selected>--Select--</option>
                              <option > Supplier-1</option>
                              <option > Supplier-2</option>
                              <option > Supplier-3</option>
                            </select></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>


                </div>

                <div class="row" >
                  <div class="col-md-4" style="margin: auto;">
                    <button class="btn btn-primary mx-1">Save</button>
                    <button class="btn btn-primary mx-1">Update</button>
                    <button class="btn btn-primary mx-1">Delete</button>
                    <button class="btn btn-primary mx-1">Refresh</button>
                </div>
              </div>
            <hr class="row py-0">
            <div class="row p-0 m-0 mt-0">
              <div class="form-group row" style="margin: auto;">
                <label class="col-md-4">Buyer</label>
                <div class="col-md-8">
                  <select class="form-control" >
                    <option selected>--Select--</option>
                    <option >Buyer-1</option>
                    <option >Buyer-2</option>
                    <option >Buyer-3</option>
                  </select>
                </div>
              </div>
            </div>
            <hr>



      <div class="row mt-3" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-body   p-0 m-0">
            <div class="data-table m-0 p-0 mb-0 " >
              <table class="tblList " >
                <thead>
                  <tr>
                    <th>SL No</th>
                    <th>Related Buyer</th>
                    <th>User Code</th>
                    <th>Trims Group</th>
                    <th>Cons.UOM</th>
                    <th>Cons/Dzn Gmts</th>
                    <th>Purchase Rate</th>
                    <th>Amount</th>
                    <th>Approval Required</th>
                    <th>Supplier</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
          </div>
        </div>
      </div>
  </div>
</div>
