<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Shareholder</h2>
      <div class="col-md-9" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>New Account Entry</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="row" style="margin: auto;">
                <div class="col-md-3">
                    <div class="form-group row">
                      <label class="col-md-4">Id No</label>
                      <div class="col-md-8">
                       <input type="text" placeholder="Double Click For Update" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Mother's Name</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">National ID</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Phone</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>

                </div>
                <div class="col-md-3">
                  <div class="form-group row">
                    <label class="col-md-4">Name</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Profession</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">TIN</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Status</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>No</option>
                        <option >Yes</option>
                      </select>
                    </div>
                  </div>

                </div>
                <div class="col-md-3">
                  <div class="form-group row">
                    <label class="col-md-4">BO Account ID</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Organization</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">VAT</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>

                </div>
                <div class="col-md-3">
                  <div class="form-group row">
                    <label class="col-md-4">Father/Husband Name</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Designation</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Email</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="card p-0 m-0 mt-3">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Contact Address</h6>
          </div>
          <div class="card-body  py-2 mt-3  p-0 m-0">
            <div class="row p-0 m-0" >
                <div class="col-md-6  p-0 m-0">
                <div class="card">
                  <div class="card-header" style="background-color:#3dabf5 ;color: white;">
                    <h6>Present Address</h6>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-md-4">Plot No</label>
                          <div class="col-md-8">
                            <input type="number" class="form-control">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-4">Road No</label>
                          <div class="col-md-8">
                            <input type="number" class="form-control">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-4">Country</label>
                          <div class="col-md-8">
                            <select class="form-control" >
                              <option selected>--Select--</option>
                              <option >Country-1</option>
                              <option >Country-2</option>
                              <option >Country-3</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-4">City/Town</label>
                          <div class="col-md-8">
                            <select class="form-control" >
                              <option selected></option>
                              <option >City/Town-1</option>
                              <option >City/Town-2</option>
                              <option >City/Town-3</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-md-4">Level No</label>
                          <div class="col-md-8">
                            <input type="number" class="form-control">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-4">Block #</label>
                          <div class="col-md-8">
                            <input type="number" class="form-control">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-4">Province</label>
                          <div class="col-md-8">
                            <input type="number" class="form-control">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-4">Zip Code</label>
                          <div class="col-md-8">
                            <input class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <div class="col-md-6  p-0 m-0">
                  <div class="card">
                    <div class="card-header" style="background-color:#3dabf5 ;color: white;">
                      <h6>Permanent Address</h6>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-md-4">Plot No</label>
                            <div class="col-md-8">
                              <input type="number" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-4">Road No</label>
                            <div class="col-md-8">
                              <input type="number" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-4">Country</label>
                            <div class="col-md-8">
                              <select class="form-control" >
                                <option selected>--Select--</option>
                                <option >Country-1</option>
                                <option >Country-2</option>
                                <option >Country-3</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-4">City/Town</label>
                            <div class="col-md-8">
                              <select class="form-control" >
                                <option selected></option>
                                <option >City/Town-1</option>
                                <option >City/Town-2</option>
                                <option >City/Town-3</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-md-4">Level No</label>
                            <div class="col-md-8">
                              <input type="number" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-4">Block #</label>
                            <div class="col-md-8">
                              <input type="number" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-4">Province</label>
                            <div class="col-md-8">
                              <input type="number" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-4">Zip Code</label>
                            <div class="col-md-8">
                              <input class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>

        <div class="card p-0 m-0 mt-3">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Share Details</h6>
          </div>
          <div class="card-body  py-2 mt-3 p-0 m-0">
            <div class="row p-0 m-0" >
                <div class="col-md-6 p-0 m-0">
                <div class="card p-0 m-0">
                  <div class="card-header" style="background-color:#3dabf5 ;color: white;">
                    <h6>Share Details:</h6>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="card p-0 m-0">
                        <div class="card-body  p-0 m-0">
                          <div class="data-table m-0 p-0 mb-0 " >
                            <table class="table " >
                              <thead>
                                <tr>
                                  <th>Company</th>
                                  <th>No. of Share</th>
                                  <th>Face Value</th>
                                  <th>Premium</th>
                                  <th>Share Value</th>
                                  <th>I/D</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                 <td></td>
                                 <td><input type="text" class="form-control"></td>
                                 <td><input type="text" class="form-control"></td>
                                 <td><input type="text" class="form-control"></td>
                                 <td><input type="text" class="form-control"></td>
                                 <td>
                                  <span class="btn btn-sm btn-primary mx-1 ">+</span>
                                  <span class="btn btn-sm btn-primary mx-1">-</span></td>
                                </tr>

                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <div class="col-md-6 p-0 m-0">
                  <div class="card">
                    <div class="card-header" style="background-color:#3dabf5 ;color: white;">
                      <h6>Nominee</h6>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="card p-0 m-0">
                          <div class="card-body  p-0 m-0">
                            <div class="data-table m-0 p-0 mb-0 " >
                              <table class="table " >
                                <thead>
                                  <tr>
                                    <th>Company</th>
                                    <th>No. of Share</th>
                                    <th>Face Value</th>
                                    <th>Premium</th>
                                    <th>Share Value</th>
                                    <th>I/D</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                   <td></td>
                                   <td><input type="text" class="form-control"></td>
                                   <td><input type="text" class="form-control"></td>
                                   <td><input type="text" class="form-control"></td>
                                   <td><input type="text" class="form-control"></td>
                                   <td><button class="btn btn-sm btn-primary mx-1 ">+</button>
                                    <button class="btn btn-sm btn-primary mx-1">-</button></td>
                                  </tr>

                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>


      </div>
  </div>
</div>
