<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Database Integration </h2>
      <div class="col-md-8" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Database Integration</h6>
          </div>
          <div class="card-body p-0 m-0  py-2 mt-3">
                <div class="row p-0 m-0" >
                    <div class="data-table p-0 m-0 mb-0" >
                      <table class="table " >
                        <thead>
                          <tr>
                            <th>Project Name</th>
                            <th>Database Name</th>
                            <th>Server Name</th>
                            <th>IP Address</th>
                            <th>Login Name</th>
                            <th>Login Password</th>
                            <th>Admin Mail</th>
                            <th>Server ID</th>
                            <th>Port</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><select class="form-control">
                              <option selected>--Select Project--</option>
                              <option > Project-1</option>
                              <option > Project-2</option>
                              <option > Project-3</option>
                            </select></td>
                            <td><input class="form-control"></td>
                              <td><input class="form-control"></td>
                            <td><input class="form-control" ></td>
                            <td><input class="form-control" ></td>
                            <td><input class="form-control" ></td>
                            <td><input class="form-control"></td>
                            <td><input class="form-control"></td>
                            <td><input class="form-control"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                </div>
                <hr>
                <div class="row" >
                  <div class="col-md-4" style="margin: auto;">
                    <button class="btn btn-primary mx-1">Save</button>
                    <button class="btn btn-primary mx-1">Update</button>
                    <button class="btn btn-primary mx-1">Delete</button>
                    <button class="btn btn-primary mx-1">Refresh</button>
                </div>
              </div>

            <hr>



      <div class="row mt-3 p-0 m-0 " style="margin: auto;" >
        <div class="card col-md-12 p-0 m-0" >
          <div class="card-body   p-0 m-0">
            <div class="data-table m-0 p-0 mb-0 " >
              <table class="table table-bordered table-hover  " style="width: 100%;" >
                <thead style="background-color: #3dabf5!important;color:white">
                  <tr>
                    <th>Project Name</th>
                    <th>Server Name</th>
                    <th>Database Name</th>
                    <th>User Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
          </div>
        </div>
      </div>
  </div>
</div>
