<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Yarn Composition Entry</h2>
      <div class="col-md-5" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Yarn Composition Info</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="row" style="margin: auto;">
                  <div class="form-group row">
                    <label class="col-md-5">Composition</label>
                    <div class="col-md-7">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row mx-1">
                    <label class="col-md-5">Status</label>
                    <div class="col-md-7">
                      <select class="form-control" >
                        <option selected>Active</option>
                        <option >Inactive</option>
                      </select>
                    </div>
                  </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-8" style="margin: auto;">
                <button class="btn btn-primary mx-1">Save</button>
                <button class="btn btn-primary mx-1">Update</button>
                <button class="btn btn-primary mx-1">Delete</button>
                <button class="btn btn-primary mx-1">Refresh</button>
              </div>
            </div>
            <hr>
            <div class="col-md-11 mt-3" style="margin: auto;">
              <div class="card p-0 m-0">
                <div class="card-body  p-0 m-0">
                  <div class="data-table m-0 p-0 mb-0 " >
                    <table class="table " >
                      <thead>
                        <tr>
                          <th>SL No</th>
                          <th>Yarn Composition</th>
                          <th>Status</th>
                        </tr>
                        <tr style="background-color:#024069 ;color: white;">
                          <th><input class="form-control" placeholder="Search"></th>
                          <th><input class="form-control" placeholder="Search"></th>
                          <th><input class="form-control" placeholder="Search"></th>
                         </tr>
                      </thead>
                      <tbody>
                        <tr>
                         <td></td>
                         <td></td>
                         <td></td>

                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


  </div>
</div>
