<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Item Group</h2>
      <div class="col-md-7" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Item Group Info</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="row" >
                <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-5">Item Catagory</label>
                      <div class="col-md-7">
                        <select class="form-control" >
                          <option selected>--Select--</option>
                          <option >Catagory-1</option>
                          <option >Catagory-2</option>
                          <option >Catagory-3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-5">Trims Type</label>
                      <div class="col-md-7">
                        <select class="form-control" >
                          <option selected>--Select--</option>
                          <option >Trims-1</option>
                          <option >Trims-2</option>
                          <option >Trims-3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-5">Conv.Factor</label>
                      <div class="col-md-7">
                        <input class="form-control">
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-md-5">Group Code</label>
                    <div class="col-md-7">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-5">Order UOM</label>
                    <div class="col-md-7">
                      <select class="form-control" >
                        <option selected>Pcs</option>
                        <option >Kg</option>
                        <option >Ton</option>
                        <option >CM</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-5">Fancy Item</label>
                    <div class="col-md-7">
                      <select class="form-control" >
                        <option selected>Yes</option>
                        <option >No</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-md-5">Item Group</label>
                    <div class="col-md-7">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-5">Cons UOM</label>
                    <div class="col-md-7">
                      <select class="form-control" >
                        <option selected>Pcs</option>
                        <option >Kg</option>
                        <option >Ton</option>
                        <option >CM</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-5">Cal Parameter</label>
                    <div class="col-md-7">
                      <select class="form-control" >
                        <option selected>--Select--</option>
                        <option >param-1</option>
                        <option >param-2</option>
                        <option >param-3</option>
                      </select>
                    </div>
                  </div>

                </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                 <div class="form-group row">
                <label class="col-md-5">Status</label>
                <div class="col-md-7">
                  <select class="form-control" >
                    <option selected>Active</option>
                    <option >Inactive</option>
                  </select>
                </div>
              </div>
             </div>
              <div class="col-md-8">
                <div class="col-md-8 pull-right" >
                  <button>Rate Pop Up</button>
                </div>
            </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6" style="margin: auto;">
                <button class="btn btn-primary mx-1">Save</button>
                <button class="btn btn-primary mx-1">Update</button>
                <button class="btn btn-primary mx-1">Delete</button>
                <button class="btn btn-primary mx-1">Refresh</button>
              </div>
            </div>
            <hr>
            <div class="row">

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7 mt-3" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>List View</h6>
          </div>
          <div class="card-body  py-2 mt-3 p-0 m-0">
            <div class="data-table m-0 p-0 mb-0 " >
              <table class="table " >
                <thead>
                  <tr>
                    <th>SL No</th>
                    <th>Item Catagory</th>
                    <th>Item Group Code</th>
                    <th>Item Group Name</th>
                    <th >Item Type</th>
                    <th>Order UOM</th>
                    <th>Conv.Factor</th>
                    <th>Call Parameter</th>
                  </tr>
                  <tr style="background-color:#024069 ;color: white;">
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"> </th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
