<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Machine Entry</h2>
      <div class="col-md-9" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Machine Name Info</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="row" style="margin: auto;">
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4">Company</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>--Select Company--</option>
                          <option >Company-1</option>
                          <option >Company-2</option>
                          <option >Company-3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Location</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>--Select Location--</option>
                          <option >Location-1</option>
                          <option >Location-2</option>
                          <option >Location-3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Floor</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>--Select Floor--</option>
                          <option >Floor-1</option>
                          <option >Floor-2</option>
                          <option >Floor-3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Machine No</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Category</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>--Select Category--</option>
                          <option >Category-1</option>
                          <option >Category-2</option>
                          <option >Category-3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Group</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Dia/Width</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Gauge</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Extra Cylinder</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">No Of Feeder</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Remarks</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4">Attachment</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Prod.Capacity</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Capacity UOM</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>Pcs</option>
                        <option >Kg </option>
                        <option >Ton</option>
                        <option >Dzn</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Brand</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Origin</label>
                    <div class="col-md-8">
                      <input class="form-control" >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Purchase Date</label>
                    <div class="col-md-8 ">
                      <input class="form-control">

                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Purchase Cost</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Accumulated Dep.</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Depreciation Method</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>Straight-line</option>
                        <option >Method-1 </option>
                        <option >Method-2</option>
                        <option >Method-3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Sequence No</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                </div>
                </div>


            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-2">Status</label>
                  <div class="col-md-10">
                    <select class="form-control" >
                      <option selected>Active</option>
                      <option >Inactive</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-md-4" style="margin: auto;">
                <button class="btn btn-primary mx-1">Save</button>
                <button class="btn btn-primary mx-1">Update</button>
                <button class="btn btn-primary mx-1">Delete</button>
                <button class="btn btn-primary mx-1">Refresh</button>
              </div>
            </div>
            <hr>
            <div class="row">

            </div>
          </div>
        </div>
      </div>
  </div>
</div>
