<div class="card">
  <div class="card-header">
    <h2 class="text-center">Production </h2>
  </div>
  <div class="card-body">
     <div class="col-md-7" style="margin: auto;">
      <div class="card mt-2" >
        <div class="card-header p-2" style="background-color: #3dabf5;">
          <h5 style="color: white;">Production Variable Settings</h5>
        </div>
        <div class="card-body p-0 m-0 mt-3"  >
            <div class="row p-0 m-0 " >
              <div class="col-md-6">
                <div class="form-group row ">
                  <label class="col-md-4">Company Name</label>
                  <div class="col-md-8">
                    <select >
                      <option selected>-Company-</option>
                      <option > Company-1</option>
                      <option > Company-2</option>
                      <option > Company-3</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row ">
                  <label class="col-md-4">Variable List</label>
                  <div class="col-md-8">
                    <select >
                      <option selected>-Select-</option>
                      <option > Variable-1</option>
                      <option > Variable-2</option>
                      <option > Variable-3</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
     </div>
  </div>
</div>
