<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Dyeing and Finishing Charge  </h2>
      <div class="col-md-9" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Dyeing & Finishing Charge</h6>
          </div>
          <div class="card-body  py-2 mt-3">
                <div class="row col-md-12">
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4">Company</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>--Select Company--</option>
                          <option >Company-1</option>
                          <option >Company-2</option>
                          <option >Company-3</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group row">
                      <label class="col-md-2">Comst.Compo.</label>
                      <div class="col-md-8 ml-3">
                        <input class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
            <div class="row" style="margin: auto;">
                <div class="col-md-4">

                    <div class="form-group row">
                      <label class="col-md-4">Process Type</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>--Select Process Type--</option>
                          <option >Process Type-1</option>
                          <option >Process Type-2</option>
                          <option >Process Type-3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Width/Dia Type</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>--Select Width/Dia Type--</option>
                          <option >Width/Dia Typee-1</option>
                          <option >Width/Dia Typee-2</option>
                          <option >Width/Dia Typee-3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Rate Type</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>--Select Rate Type--</option>
                          <option >Rate Type-1</option>
                          <option >Rate Type-2</option>
                          <option >Rate Type-3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Status</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>Active</option>
                          <option >Inactive</option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-md-4">Process Name</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>--Select --</option>
                        <option >Process Name-1</option>
                        <option >Process Name-2</option>
                        <option >Process Name-3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">In House Rate</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Customer Rate</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>

                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-md-4">Color</label>
                    <div class="col-md-8">
                      <input class="form-control" placeholder="Double Click to Search">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">UOM</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>--Select --</option>
                          <option >Kg</option>
                          <option >Dzn</option>
                          <option >Ton</option>
                        </select>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Buyer</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>--Select Buyer--</option>
                        <option >Buyer-1</option>
                        <option >Buyer-2</option>
                        <option >Buyer-3</option>
                      </select>
                    </div>
                  </div>
                </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-4" style="margin: auto;">
                <button class="btn btn-primary mx-1">Save</button>
                <button class="btn btn-primary mx-1">Update</button>
                <button class="btn btn-primary mx-1">Delete</button>
                <button class="btn btn-primary mx-1">Refresh</button>
              </div>
            </div>
            <hr>
            <div class="row">

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9 mt-3" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>List View</h6>
          </div>
          <div class="card-body  py-2 mt-3 p-0 m-0">
            <div class="data-table m-0 p-0 mb-0 " >
              <table class="table " >
                <thead>
                  <tr>
                    <th>SL No</th>
                    <th>Company Name</th>
                    <th>Const. Compo.</th>
                    <th>Process Type</th>
                    <th >Process Name</th>
                    <th>Color</th>
                    <th>Width/Dia Type</th>
                    <th>In House Rate</th>
                    <th>UOM</th>
                    <th>Rate Type</th>
                    <th>Cust. Rate</th>
                    <th>Buyer</th>
                    <th>Status</th>
                  </tr>
                  <tr style="background-color:#024069 ;color: white;">
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"> </th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"> </th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
