<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Financial Parameter Setup</h2>
      <div class="col-md-8" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Financial Parameter Setup</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="row" style="margin: auto;">
                <div class="col-md-12">  <div class="form-group row">
                  <label class="col-md-2">Company Name</label>
                  <div class="col-md-10">
                    <input class="form-control">
                  </div>
                   </div></div>

            </div>
            <div class="row" style="margin: auto;">
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4">Applying Period</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">BEP CM %</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Asking CM %</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Monthly CM Expense</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Cost Per Minute</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Asking AVG Rate</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Max Profit %</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-4">Interest Expenses %</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Operating Expense %</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4">To</label>
                    <div class="col-md-8">
                      <input class="form-control" disabled>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Asking Profit %</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">No. Of Factory Machine</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Working Hour/Day</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Actual CM</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Status</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>Active</option>
                        <option >Inactive</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Depreciation & Amortization %</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Income Tax %</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6" style="margin: auto;">
                <button class="btn btn-primary mx-1">Save</button>
                <button class="btn btn-primary mx-1">Update</button>
                <button class="btn btn-primary mx-1">Delete</button>
                <button class="btn btn-primary mx-1">Refresh</button>
              </div>
            </div>
            <hr>
            <div class="row">

            </div>
          </div>
        </div>
      </div>


  </div>
</div>
