<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Sales Target Entry</h2>
      <div class="col-md-9" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Sales Target</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="card p-0 m-0  " >
              <div class="card-body ">
                <div class="row  mt-4 " >
                  <div class="col-md-4 ">
                    <div class="form-group row">
                      <label class="col-md-4">Company Name</label>
                      <div class="col-md-8">
                            <select class="form-control" >
                              <option selected>--Select Company--</option>
                              <option >Company-1</option>
                              <option >Company-2</option>
                              <option >Company-3</option>
                            </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Team Leader</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>--Select Team Leader--</option>
                          <option >Team Leader-1</option>
                          <option >Team Leader-2</option>
                          <option >Team Leader-3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Year</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>--Select Year--</option>
                          <option >Year-1</option>
                          <option >Year-2</option>
                          <option >Year-3</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4">Buyer</label>
                      <div class="col-md-8">
                            <select class="form-control" >
                              <option selected>--Select Buyer--</option>
                              <option >Buyer-1</option>
                              <option >Buyer-2</option>
                              <option >Buyer-3</option>
                            </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Designation</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4">Agent</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>--Select--</option>
                          <option >Agent-1</option>
                          <option >Agent-2</option>
                          <option >Agent-3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Starting Month</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>--Select Month--</option>
                          <option >Month-1</option>
                          <option >Month-2</option>
                          <option >Month-3</option>
                        </select>
                      </div>
                    </div>
                </div>
              </div>
              </div>
            </div>
            <div class="row mt-5 py-3">
              <div class="col-md-4" style="margin: auto;">
                <button class="btn btn-primary mx-1">Save</button>
                <button class="btn btn-primary mx-1">Update</button>
                <button class="btn btn-primary mx-1">Delete</button>
                <button class="btn btn-primary mx-1">Refresh</button>
              </div>
            </div>
            <hr>
            <div class="row py-4">

            </div>
          </div>
        </div>
      </div>
  </div>
</div>
