<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Company Profile</h2>
      <div class="col-md-9" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Company Information</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="row" style="margin: auto;">
                <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4">Group Name</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>--Select--</option>
                          <option >Gropu-1</option>
                          <option >Gropu-2</option>
                          <option >Gropu-3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Service Cost Allocation</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>No</option>
                          <option >Yes</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">CEO</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Core Business</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>--Select--</option>
                          <option >Core Business-1</option>
                          <option >Core Business-2</option>
                          <option >Core Business-3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">A/C Code Length</label>
                      <div class="col-md-8">
                        <input class="form-control" placeholder="Select Multiple Item">
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-md-4">Company Name</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Posting in Previous Yr</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>No</option>
                        <option >Yes</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">CFO</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Email</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Profit Center Affected</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>No</option>
                        <option >Yes</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-md-4">Company Short Name</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Statutory Account</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>Yes</option>
                        <option >No</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Company Nature</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>--Select--</option>
                        <option >Company Nature-1</option>
                        <option >Company Nature-2</option>
                        <option >Company Nature-3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Website</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Contact Person</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="card p-0 m-0 mt-3">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Address</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="row" style="margin: auto;">
                <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4">Plot No</label>
                      <div class="col-md-8">
                        <input type="number" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Block No</label>
                      <div class="col-md-8">
                        <input type="number" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">City/Town</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-md-4">Level No</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Company</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>--Select--</option>
                        <option >Company-1</option>
                        <option >Company-2</option>
                        <option >Company-3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Zip Code</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-md-4">Read No</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Province</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Contact Number</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>


        <div class="card p-0 m-0 mt-3">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Legal Document</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="row" style="margin: auto;">
                <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4">Trade License No</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">IRC No</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">ERC Expiry Date</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Vat Number</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-md-4">Incorporation No</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">EPB Reg. No</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">IRC Expiry Date</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Bangladesh Bank Registration No</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-md-4">ERC No</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Trade License Renewal</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">TIN Number</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="card p-0 m-0 mt-3 ">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Status</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="col-md-8" style="margin: auto;">
              <div class="row" style="margin: auto;">
                <div class="col-md-6">
                  <div class="form-group row ">
                    <label class="col-md-6">Status</label>
                    <div class="col-md-6">
                      <select class="form-control" >
                        <option selected>Active</option>
                        <option >Inactive</option>
                      </select>
                    </div>
                  </div>

                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-6">Select Logo</label>
                    <div class="col-md-6">
                     <button>Click To Add Image</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-4" style="margin: auto;">
                <button class="btn btn-primary mx-1">Save</button>
                <button class="btn btn-primary mx-1">Update</button>
                <button class="btn btn-primary mx-1">Delete</button>
                <button class="btn btn-primary mx-1">Refresh</button>
              </div>
            </div>
            <hr>

          </div>
        </div>
      </div>
  </div>
</div>
