<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Employee Info</h2>
      <div class="col-md-10" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Basic Info</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-md-6 text-right">Employee Code:</label>
                  <div class="col-md-6 ">
                    <input class="form-control" placeholder="Double Click To Search">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-md-6 text-right">Employee Name:</label>
                  <div class="col-md-6  ">
                        <input class="form-control " placeholder="First Name">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <input class="form-control col-md-6" placeholder="Middle Name">
                  <div class="col-md-6  ">
                        <input class="form-control " placeholder="Last Name">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-md-6 text-right">Employee Name(bangla):</label>
                  <div class="col-md-6">
                    <input class="form-control " placeholder="First Name(bangla)">
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin: auto;">
                <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-6 text-right">Father's Name:</label>
                      <div class="col-md-6">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-6 text-right">Mother's Name:</label>
                      <div class="col-md-6">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-6 text-right">Birth Place:</label>
                      <div class="col-md-6">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-6 text-right">Religion:</label>
                      <div class="col-md-6">
                        <select class="form-control" >
                          <option selected>--Select Religion--</option>
                          <option >Islam</option>
                          <option >Hindu</option>
                          <option >Buddhist</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-6 text-right">Nationality:</label>
                      <div class="col-md-6">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-6 text-right">Employee Catagory:</label>
                      <div class="col-md-6">
                        <select class="form-control" >
                          <option selected>--Select Catagory--</option>
                          <option >Catagory-1</option>
                          <option >Catagory-2</option>
                          <option >Catagory-3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-6 text-right">Functional Superior:</label>
                      <div class="col-md-6">
                        <select class="form-control" >
                          <option selected>--Select Superior --</option>
                          <option >Superior -1</option>
                          <option >Superior -2</option>
                          <option >Superior -3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-6 text-right">Joining Date:</label>
                      <div class="col-md-6">
                        <input class="form-control" type="date">
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-md-6 text-right">Father's Name(bangla):</label>
                    <div class="col-md-6">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-6 text-right">Mother's Name(bangla):</label>
                    <div class="col-md-6">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-6 text-right">Date of Birth:</label>
                    <div class="col-md-6">
                      <input class="form-control" type="date">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-6 text-right">Marital Status:</label>
                    <div class="col-md-6">
                     <select class="form-control" >
                       <option selected>--Select Status--</option>
                       <option>Marid</option>
                       <option>Unmarid</option>
                     </select>

                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-6 text-right">National Id:</label>
                    <div class="col-md-6">
                      <input class="form-control" >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-6 text-right">Designation Lebel:</label>
                    <div class="col-md-6 ">
                      <select class="form-control" >
                        <option selected>--Select Designation Level--</option>
                        <option >Designation Level-1</option>
                        <option >Designation Level-2</option>
                        <option >Designation Level-3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-6 text-right">Admin  Superior:</label>
                    <div class="col-md-6">
                      <select class="form-control" >
                        <option selected>--Select Admin Superior --</option>
                        <option >Admin Superior -1</option>
                        <option >Admin Superior -2</option>
                        <option >Admin Superior -3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-6 text-right">Confirmation Date:</label>
                    <div class="col-md-6">
                      <input class="form-control" type="date">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group py-4 row">

                  </div>
                  <div class="form-group row">
                    <label class="col-md-6 text-right">Sex:</label>
                    <div class="col-md-6">
                      <select class="form-control" >
                        <option selected>--Select Gender --</option>
                        <option >Male</option>
                        <option >Female</option>
                        <option >Both</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-6 text-right">Age:</label>
                    <div class="col-md-6">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-6 text-right">Blood Group:</label>
                    <div class="col-md-6">
                      <select class="form-control" >
                        <option selected>--Select Blood Group --</option>
                        <option >A+</option>
                        <option >B+</option>
                        <option >O+</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-6 text-right">Passport No:</label>
                    <div class="col-md-6">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-6 text-right">Designation: </label>
                    <div class="col-md-6">
                      <select class="form-control" >
                        <option selected>--Select Buyer--</option>
                        <option >Buyer-1</option>
                        <option >Buyer-2</option>
                        <option >Buyer-3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-6 text-right">Id Card No:</label>
                    <div class="col-md-6">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-6 text-right">Punch Card No:</label>
                    <div class="col-md-6">
                      <input class="form-control">
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-2 text-right">Remarks:</label>
                  <div class="col-md-9 mx-2">
                    <input class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-0 p-0 mt-3  " >
                  <div class="data-table m-0 p-0 mb-0  col-md-12" >
                    <table class="table " >
                      <thead>
                        <tr>
                          <th>Company </th>
                          <th>Location</th>
                          <th>Division</th>
                          <th >Department</th>
                          <th>Section</th>
                          <th >Line No.</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                         <td>    <select class="form-control" >
                          <option selected>--Select Company--</option>
                          <option >Company-1</option>
                          <option >Company-2</option>
                          <option >Company-3</option>
                        </select></td>
                         <td>    <select class="form-control" >
                          <option selected>--Select Location--</option>
                          <option >Location-1</option>
                          <option >Location-2</option>
                          <option >Location-3</option>
                        </select></td>
                         <td>    <select class="form-control" >
                          <option selected>--Select Division--</option>
                          <option >Division-1</option>
                          <option >Division-2</option>
                          <option >Division-3</option>
                        </select></td>
                         <td>    <select class="form-control" >
                          <option selected>--Select Department--</option>
                          <option >Department-1</option>
                          <option >Department-2</option>
                          <option >Department-3</option>
                        </select></td>
                         <td>    <select class="form-control" >
                          <option selected>--Select Section--</option>
                          <option >Section-1</option>
                          <option >Section-2</option>
                          <option >Section-3</option>
                        </select></td>
                         <td>    <select class="form-control" >
                          <option selected>--Select Line--</option>
                          <option >Line-1</option>
                          <option >Line-2</option>
                          <option >Line-3</option>
                        </select></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" style="margin: auto;">
                <button class="btn btn-primary mx-1">Save</button>
                <button class="btn btn-primary mx-1">Update</button>
                <button class="btn btn-primary mx-1">Delete</button>
                <button class="btn btn-primary mx-1">Refresh</button>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
  </div>
</div>
