<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Buyer Profile</h2>
      <div class="col-md-9" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Contact Info</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="row" style="margin: auto;">
                <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4">Contact Name</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Designation</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">http://www.</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Address3</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Party Type</label>
                      <div class="col-md-8">
                        <input class="form-control" placeholder="Select Multiple Item">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Credit Limit(Days)</label>
                      <div class="col-md-8">
                        <input class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4">Security Deducted</label>
                      <div class="col-md-8">
                        <select class="form-control" >
                          <option selected>Yes</option>
                          <option >No</option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-md-4">Short Name</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Exporters Ref.</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Address1</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Address4</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Tag Company</label>
                    <div class="col-md-8">
                      <input class="form-control" placeholder="Select Multiple Item">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Credit Limit(Amount)</label>
                    <div class="col-md-8 row">
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                    <div class="col-md-4">
                      <select class="form-control" >
                        <option selected>Taka</option>
                        <option >Rupi</option>
                        <option >USD</option>
                        <option >Dollar</option>
                      </select>
                    </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Vat to be Deducted</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>Yes</option>
                        <option >No</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-md-4">Contact Person</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Email</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Address</label>
                    <div class="col-md-8">
                      <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Country</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>--Select Country--</option>
                        <option >Country-1</option>
                        <option >Country-2</option>
                        <option >Country-3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Link to Supplier</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>--Select Supplier--</option>
                        <option >Supplier-1</option>
                        <option >Supplier-2</option>
                        <option >Supplier-3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Discount Method</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>--Select Method--</option>
                        <option >Method-1</option>
                        <option >Method-2</option>
                        <option >Method-3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">AIT to be Deducted</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>Yes</option>
                        <option >No</option>
                      </select>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group row">
                  <label class="col-md-2">Remark</label>
                  <div class="col-md-10">
                    <input class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-md-4">Marketing Team</label>
                  <div class="col-md-8">
                    <select class="form-control" >
                      <option selected>--Select Marketing Team--</option>
                      <option >Marketing Team-1</option>
                      <option >Marketing Team-2</option>
                      <option >Marketing Team-3</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-md-4">Sewing Efft Mkt.%</label>
                  <div class="col-md-8">
                    <input class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-md-4">Sewing Efft Planing.%</label>
                  <div class="col-md-8">
                    <input class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-md-4">Statu</label>
                  <div class="col-md-8">
                    <select class="form-control" >
                      <option selected>Active</option>
                      <option >Inactive</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-md-4">Buyer Code</label>
                  <div class="col-md-8">
                    <input class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group row">
                  <label class="col-md-2">Image</label>
                  <div class="col-md-8">
                    <button>CLICK ADD/VIEW IMAGE</button>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-4" style="margin: auto;">
                <button class="btn btn-primary mx-1">Save</button>
                <button class="btn btn-primary mx-1">Update</button>
                <button class="btn btn-primary mx-1">Delete</button>
                <button class="btn btn-primary mx-1">Refresh</button>
              </div>
            </div>
            <hr>
            <div class="row">

            </div>
          </div>
        </div>
      </div>
  </div>
</div>
