<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Mail Recipient Group</h2>
      <div class="col-md-5" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Mail Recipient Group</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="col-md-12" style="margin: auto;">
                  <div class="form-group row">
                    <label class="col-md-4">Company Name</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>--Select Company Name--</option>
                        <option >Company-1</option>
                        <option >Company-2</option>
                        <option >Company-3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Mail Item</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>--Select Mail Item--</option>
                        <option >Item-1</option>
                        <option >Item-2</option>
                        <option >Item-3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">You Have Selected</label>
                    <div class="col-md-8">
                       <input class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Status</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>Active</option>
                        <option >Inactive</option>
                      </select>
                    </div>
                  </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-8" style="margin: auto;">
                <button class="btn btn-primary mx-1">Save</button>
                <button class="btn btn-primary mx-1">Update</button>
                <button class="btn btn-primary mx-1">Delete</button>
                <button class="btn btn-primary mx-1">Refresh</button>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>

      <div class="col-md-5 mt-3" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>List View</h6>
          </div>
          <div class="card-body  py-2 mt-3 p-0 m-0">
            <div class="data-table m-0 p-0 mb-0 " >
              <table class="table " >
                <thead>
                  <tr>
                    <th>SL No</th>
                    <th>Email Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   <td></td>
                   <td></td>

                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
