<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Product Sub Department</h2>
      <div class="col-md-9" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Department Information</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="col-md-8" style="margin: auto;">
              <div class="row" style="margin: auto;" >
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-6">Sub Department Name</label>
                  <div class="col-md-6">
                    <input class="form-control">
                  </div>
                </div>
              </div>
              </div>
              <div class="row" style="margin: auto;">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-6">Department Name</label>
                    <div class="col-md-6">
                      <select class="form-control" >
                        <option selected>--Seelct--</option>
                        <option >Department-1</option>
                        <option >Department-2</option>
                        <option >Department-3</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row ">
                    <label class="col-md-6">Buyer Name</label>
                    <div class="col-md-6">
                      <select class="form-control" >
                        <option selected>--Seelct--</option>
                        <option >Buyer-1</option>
                        <option >Buyer-2</option>
                        <option >Buyer-3</option>
                      </select>
                    </div>
                  </div>
                </div>


              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-4" style="margin: auto;">
                <button class="btn btn-primary mx-1">Save</button>
                <button class="btn btn-primary mx-1">Update</button>
                <button class="btn btn-primary mx-1">Delete</button>
                <button class="btn btn-primary mx-1">Refresh</button>
              </div>
            </div>
            <hr>
            <div class="col-md-11 mt-3" style="margin: auto;">
              <div class="card p-0 m-0">
                <div class="card-body  p-0 m-0">
                  <div class="data-table m-0 p-0 mb-0 " >
                    <table class="table " >
                      <thead>
                        <tr>
                          <th>SL No</th>
                          <th>Sub Department Name</th>
                          <th>Department</th>
                          <th>Buyer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


  </div>
</div>
