<div class="card">
  <div class="card-body ">
    <h2 class="text-center">Report Setting</h2>
      <div class="col-md-5" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>Report Setting</h6>
          </div>
          <div class="card-body  py-2 mt-3">
            <div class="col-md-12" style="margin: auto;">
                  <div class="form-group row">
                    <label class="col-md-4">Template Name</label>
                    <div class="col-md-8">
                      <input class="form-control" placeholder="Double Click to Search">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Module Name</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>--Select Module--</option>
                        <option >Module-1</option>
                        <option >Module-2</option>
                        <option >Module-3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Report Name</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>--Select Report--</option>
                        <option >Report-1</option>
                        <option >Report-2</option>
                        <option >Report-3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Report Format</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>--Select Template--</option>
                        <option >Template-1</option>
                        <option >Template-2</option>
                        <option >Template-3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Buyer Specific</label>
                    <div class="col-md-8">
                      <input class="form-control" placeholder="Double Click Item">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Bank Specific</label>
                    <div class="col-md-8">
                      <input class="form-control" placeholder="Double Click Item">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4">Status</label>
                    <div class="col-md-8">
                      <select class="form-control" >
                        <option selected>Active</option>
                        <option >Inactive</option>
                      </select>
                    </div>
                  </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-8" style="margin: auto;">
                <button class="btn btn-primary mx-1">Save</button>
                <button class="btn btn-primary mx-1">Update</button>
                <button class="btn btn-primary mx-1">Delete</button>
                <button class="btn btn-primary mx-1">Refresh</button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-4" style="margin: auto;">
                <button class="btn btn-primary mx-1">Print</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-5 mt-3" style="margin: auto;">
        <div class="card p-0 m-0">
          <div class="card-header" style="background-color:#3dabf5 ;color: white;">
            <h6>List View</h6>
          </div>
          <div class="card-body  py-2 mt-3 p-0 m-0">
            <div class="data-table m-0 p-0 mb-0 " >
              <table class="table " >
                <thead>
                  <tr>
                    <th>SL No</th>
                    <th>Yarn Type Name</th>
                    <th>Status</th>
                    <th>Entry By</th>
                  </tr>
                  <tr style="background-color:#024069 ;color: white;">
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                    <th><input class="form-control" placeholder="Search"></th>
                   </tr>
                </thead>
                <tbody>
                  <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>

                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> -->
  </div>
</div>
